/* =================================
  Media Queries
==================================== */

@media (max-width: 480px){
	.circles {
		display: none;
	}

	 body {
		background-color: ;
	}
}



@media (min-width: 769px) {

	.main-header,
  .main-nav,
  .row {
    display: flex;
  }

	.scroll {
		display:inline-block;
	}

@media (min-width: 1025px) {

  .main-header {
    flex-direction:row;
    justify-content:space-between;
  }
}
